*, ::before, ::after {
  box-sizing: border-box;
}
.info-panel {
  text-align: center;
  margin: 2%;
}

.grid-panel {
  display: flex;
  justify-content: space-around;
  max-width: 50rem;
  min-width: 50rem;
  margin: auto;
  flex-flow: row wrap;
  border: 5px solid rgb(102, 97, 99);
  border-radius: 5px;
  position: relative;
  padding: 0;
}

.grid-element {
background-color: rgba(0, 0, 0, 0);
border: 1px solid rgba(128, 126, 126, 0.459);
box-sizing: border-box;
margin: 0;
}