*, ::before, ::after {
  box-sizing: border-box;
}

.main-1 {
  text-align: center;
}

.main-2 {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.info-panel-1, .info-panel-2 {
  margin: 0;
  min-width: 8rem;
  max-width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

button {
  max-height: 80px;
  min-height: 80px;
  max-width: 80px;
  min-width: 80px;
  flex: 0 0 auto;
  margin: 1rem;
  border: 5px solid rgb(102, 97, 99);
  border-radius: 5px;
}

button:hover {
  border: 5px solid rgba(102, 97, 99, 0.384);
}

.grid-panel {
  display: flex;
  justify-content: space-around;
  max-width: 50rem;
  min-width: 50rem;
  flex-flow: row wrap;
  border: 5px solid rgb(102, 97, 99);
  border-radius: 5px;
  position: relative;
  padding: 0;
}

.grid-element {
background-color: rgba(0, 0, 0, 0);
border: 1px solid rgba(128, 126, 126, 0.459);
box-sizing: border-box;
margin: 0;
}